<nav class="navbar bg-primary-subtle container-fluid">

  <div class="d-flex w-100 justify-content-between align-items-center">

    <a class="navbar-brand ps-5">Veterinaria Angulo</a>

    <div class="col-5">
      <form class="d-flex" role="search">
        <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-primary ms-3 px-4" type="button">Buscar</button>
      </form>
    </div>

    <div class="dropdown me-5 col-1">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a routerLink="/nuevaconsulta" routerLinkActive="active" class="dropdown-item" href="#">Nueva consulta</a></li>
        <li><a routerLink="/consultas" routerLinkActive="active" class="dropdown-item" href="#">Ver consultas</a></li>
      </ul>
    </div>

  </div>

</nav>

<!-- <app-consultas></app-consultas> -->

<router-outlet></router-outlet>

